.body {
    width: 100%;
}

.header {
    position: relative;
    margin-bottom: 50px;
}

.navbar {
    display: none;
}

.span {
    background-color: #BE1A1B;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    font-size: 30px;
    cursor: pointer;
    color: white;
    height: 6.5%;
}

.mobnavbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #BE1A1B;
    background-color: rgba(190, 26, 27, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.mobnavbar-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.mobnavbar a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'Lobster';
}

.mobnavbar a:hover,
.navbar a:focus {
    color: grey;
}

.mobnavbar .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    padding: 20px;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
}

h5 {
    font-family: 'Oxygen', sans-serif;
    font-size: 29.3px;
    color: grey;
    margin-top: -15px;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
}

.claim {
	display: block;
    width: 100%;
	text-align:center;
    margin-top: 90px;
    position: relative;
	font-size:20px;

}
.claim hr {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
	margin-top:-20px;
}

.text {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 10%;
	text-align:center;
	margin-bottom: 80px
}

.text p{
	padding-top:5%;
	font-size:16.5px;

	
}
.text img{
    display: block;
	width:50%;
	margin:auto;
}

.main2{
	display:none;
}
.button {
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
}

.button1 {
    background-color: #1BA261;
	margin-bottom:20%;
    color: white;
    width:35%;
    border-radius: 15px;
    cursor: pointer;
    padding: 30px;
    transition-duration: 0.4s;
	display:block;
	margin:auto;
	font-size:20px;
	text-decoration:none;
	margin-bottom:20px;
	font-family:'oxygen';
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
    background-color: #ced4da;
    color: black;
    width:35%;
    border-radius: 15px;
    cursor: pointer;
    padding: 30px;
    transition-duration: 0.4s;
	display:block;
	margin:auto;
	font-size:20px;
	text-decoration:none;
	text-align:cener;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.footer2 ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  grid-auto-flow: column; 
  padding-left: 17%;
  padding-right: 17%;
  padding-top:10px;
  padding-bottom:10px;
  }
  
 .footer2 li{
	list-style-type: none;
  }


.footer2 a {
  color: white;
  text-decoration: none;
  box-shadow: #c9c5c5;
}

.footer2 a:hover {
  box-shadow: #c9c5c5;
}


.footer2 {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #454444;
  font-family: 'oxygen';
  text-align: center;
  margin-bottom:0;
  left: 0px;
  margin-top: 25px
}

.checkinfo {
  -ms-flex: 25%;
  flex: 25%;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  text-decoration:none;
  
}

.review p{
	margin-top: 10%;
}

.basket img{
	width:40%;
	margin-left:30%;
	margin-right:30%;
}

.basket h3{
	margin-top: 20%;
	text-align:center;
	font-size:25px;
	margin-left:5%;
	margin-right:5%;
	font-family: 'Oxygen', sans-serif;
}

.container h4{
	font-family: 'Oxygen', sans-serif;
	font-size:20px;
}

.container a{
	text-decoration:none;
	
}

.basket{
	top:10%;
	margin-bottom: 25%;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.price {
  float: right;
  color: black;
}
.review{
	text-align:center;
}

.m-button3 p{
		margin-top: 0px;
		margin-bottom: 0px;
	}

.map {
  height: 400px;
  width: 100%;
}

.idform {
	margin-top: 25%;
}

.idform h3{
	top: 25%;
	text-align:center;
	font-size:25px;
	margin-left:5%;
	margin-right:5%;
	font-family: 'Oxygen', sans-serif;
}

.id-new {
  -ms-flex: 50%;
  flex: 50%;
  padding: 0 16px;
}

.id-new .button-new{
	display: block;
    margin-left: 25%;
    margin-bottom: 5%;
    width: 40%;
    background-color: #1BA261;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 10px;
    text-align: center;
}

.id-ex {
  -ms-flex: 50%;
  flex: 50%;
  padding: 0 16px;
  padding-top:3%;
}

.fa-fingerprint {
    content: "\f577";
    font-size: 50px;
    color: black;
	text-decoration:none;
	margin-left:40%;
	text-align:center;
	}


.id-box {
	display: block;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    height: auto;
	margin-bottom: 25%;
}
  
 .id-box p {
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    TEXT-ALIGN: CENTER;
    margin-bottom: 10%;
    margin-top: 10%;
} 
  
 .id-box h3 { 
 text-align:center;
 color:#1BA261;
 font-size:22px;
 }

input[type=text] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family:'oxygen';
}

.payment-form {
	margin-top: 25%;
}

.payment-form h3{
	top: 25%;
	text-align:center;
	font-size:25px;
	margin-left:5%;
	margin-right:5%;
	font-family: 'Oxygen', sans-serif;
}

.button-card {
    display: block;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 0;
    text-decoration: none;
    height: auto;
    margin-bottom: 5%;
    color: black;
}

.button-card p{
	margin-bottom:0px;
    margin-top: 3px;
	padding:2px;
	margin-left: 0px;
	margin-right: 0px;
}

.saved-card h4 {
    font-size: 18px;
    font-family: 'oxygen';
    margin-top: 20%;
	margin-left: 5%;
}

.saved-card {
	display:block;
    margin-left: 0;
    margin-right: 5%;
	margin-top: 20%;
}

.saved-card p {
	margin-left: 5%;
}

.manual-card h4 {
    font-size: 18px;
    font-family: 'oxygen';
    margin-top: 10%;
    margin-left: 5%;
}

.manual-card label {
  margin-bottom: 10px;
  display: block;
}

.payment-m {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 16px;
    font-family: 'oxygen';
    width: 90%;
    margin-bottom: 15%;
    padding: 12px;
    width: 90%;
	margin-left: 3%;
    margin-right: 7%;
}

.desktop-idform{
	display:none;
}

.desk-footer{
	display:none;
}

.button-info{
	background-color: #1BA261;
    margin-bottom: 20%;
    color: white;
    width: 35%;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    transition-duration: 0.4s;
    display: block;
    margin: auto;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10%;
    text-align: center;
	font-family:'oxygen';
	margin-top: 20%;
}

.contact-us {
margin-bottom: 20%;
}

.location iframe {
    width: 93%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 20px;
}

.contact-open p{
	text-align:center;
	margin-bottom:0px;
	margin-top:0px;
}

.contact-info h3{
	text-align:center;
	font-size:24px;
	margin-left:5%;
	margin-right:5%;
	font-family: 'Oxygen', sans-serif;
	margin-top: 15%;
}

.fa-map-marker{
	color: #BE1A1B;
	font-size: 24px;
    float: left;
    margin-left: 5%;
}

.fa-mobile{
	color: #BE1A1B;
	font-size: 24px;
    float: left;
    margin-left: 5%;
}

.fa-envelope {
	color: #BE1A1B;
	font-size: 24px;
    float: left;
    margin-left: 5%;
}

.location p{
    margin-left: 15%;
    text-align: left;
    padding-left: 0px;
}

.mobile p {
    margin-left: 15%;
    text-align: left;
    padding-left: 0px;
}

.email p {
	margin-left: 15%;
    text-align: left;
    padding-left: 0px;
	margin-top: 10%;
}


.carta {
    display: block;
    width: 100%;
    padding: 30px;
    clear: both;
    margin-left: 100px;
    position: relative;
    top: 100px;
}

.pizzaname {
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.m-description2{
	 margin-left: 5%;
	 margin-right: 5%;
}

.m-description1{
	 margin-left: 5%;
	 margin-right: 5%;
}

.m-description3{
	 margin-left: 5%;
	 margin-right: 5%;
}


.block1 {
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    float: left;
    width: 25%;
    padding-bottom: 15px;
}

.block1:hover {
    border: 1px solid #777;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.block1 img {
    width: 100%;
    height: 300px;
}

.block2 {
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    float: left;
    width: 25%;
    padding-bottom: 15px;
}

.block2:hover {
    border: 1px solid #777;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.block2 img {
    width: 100%;
    height: 300px;
}

.block3 {
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    float: left;
    width: 25%;
    padding-bottom: 15px;
}

.block3:hover {
    border: 1px solid #777;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.block3 img {
    width: 100%;
    height: 300px;
}

.button3 {
    margin-left: 5%;
    background-color: #1BA261;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 10px;
}

.button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.s-menu {
    width: fit-content;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
}

.m-carta {
    display: block;
    width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 100px;
}

.m-pizzaname {
    margin: auto;
    padding: 5%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}



.m-blockp{
	border-color:rgb(190,190,190);
    border: 0.1px solid;
    border-radius: 10%;
	margin-bottom: 5px;
    margin-top: 5px;
	margin-left: 17px;
    margin-right: 17px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.m-block1 {
    margin: auto;
    border: 1px solid #1BA261;
    border-radius: 15px;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border-color: grey;
}

.m-block1 img {
    width: 100%;
    height: 300px;
}

.m-block2 {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.m-block2 img {
    width: 100%;
    height: 300px;
}

.m-block3 {
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.m-block3 img {
    width: 100%;
    height: 300px;
}

.m-button3 {
    display: inline-block;
    background-color: #1BA261;
    color: white;
    font-family: 'Oxygen';
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 20%;
    padding: 3%;
    margin: 5%;
    text-align: center;
    text-decoration: none;
}

.m-button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.m-price {
    display: inline-block;
    float: right;
    background-color: #FEE6E1;
    font-family: 'Oxygen';
    color: black;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 20%;
    padding: 3%;
    margin: 5%;
    text-align: center;
    text-decoration: none;
}

.mobsection {
    top: 200px;
}

.m-previous {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.m-previous h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Lobster';
    display: none;
    overflow: hidden;
}

.de-button {
    display: none;
}

.accordion {
    background-color: #E4EAE7;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-family: 'Oxygen';
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.m-carta h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Lobster';
}

.footer {
    position: fixed;
    left: 0;
    text-decoration: none;
    bottom: 0;
    width: 100%;
    background-color: #1BA261;
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 5%;
    padding: 10px;
	font-family:'oxygen';
}

@media screen and (min-width: 780px) {
     .main {
       display: block;
       width: 50%;
	   float:left;
       margin: auto;
		margin-top: -20px	
	}
 
      .main img{
       display: none;
	  }
	  
	  .main2{
		  display:block;
		  margin-top:50px;
		  
	  }
	  
      .main2 img{
       border-radius: 40%;
	   display: block;
	   padding:100px;
	   margin-right:10%;
	   margin:auto;
	   width:30%;
	   margin-top: 5%;
	   padding-top: 200px;
	  }
	  
	  .button1 {
		background-color: #1BA261;
		color: white;
		position: absolute;
		width: 15%;
		border-radius: 15px;
		cursor: pointer;
		transition-duration: 0.4s;
		display: block;
		margin: auto;
		font-size: 20px;
		text-decoration: none;
		margin-bottom: 20px;
		margin-left: 25%;
		font-family:'oxygen';
}


.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
	background-color: #ced4da;
    color: black;
    float: left;
    width: 17%;
    border-radius: 15px;
    cursor: pointer;
    padding: 30px;
    transition-duration: 0.4s;
    display: block;
    margin: auto;
    font-size: 20px;
    text-decoration: none;
	margin-left: 53%;
    border-right-width: 150px;
	text-align:center;
	font-family:'oxygen';
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.claim H1{
	font-size:50px;
}

.claim H5{
	font-size:35px;
}

.claim hr{
	margin-left: 30%;
    margin-right: 30%
}
.text{
	margin-top: 40px;
}

.text p{
	font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    clear: both;
	margin-bottom: 5%;
}
	  
	.m-block1 {
        margin: 1%;
        width: 30%;
        float: left;
        height: 540px;
    }
    .m-block2 {
        margin: 1%;
        width: 30%;
        float: left;
        height: 540px;
    }
    .m-block3 {
        margin: 1%;
        width: 30%;
        float: left;
        height: 540px;
    }
    .lastitem {
        margin-bottom: 100px!important;
    }
    .s-menu {
        width: fit-content;
        margin: 0 auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    .m-carta {
        display: block;
        width: 100%;
        margin: auto;
    }

    .m-blockp {
    margin: 1%;
    width: 25%;
    float: left;
    height: 260px;
    border: 1px solid;
	border-color: 	rgb(211,211,211);
    border-radius: 10%;
	box-shadow: 10px 10px 5px #aaaaaa;
    }
	
    .m-button3 {
        margin-bottom: 5%;
        text-align: center;

    }
	
	.m-button3 p{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
    .m-price {
        margin-bottom: 5%;
        text-align: center;
        float: right;
    }
    .navbar {
        display: block;
        background-color: #BE1A1B;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 999;
        height: 60px;
    }
    .navbar a {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        font-family: 'Lobster';
        font-size: 18px;
        margin-right: auto;
    }
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    .navbar a.active {
        background-color: #4CAF50;
        color: white;
    }
    .navbar img {
        display: block;
        top: 0;
        float: left;
        margin-left: auto;
        width: 10%;
        padding: 10px 30px;
    }
    .accordion {
        width: 60%;
		margin: auto;
		margin-left:20%;
		margin-top: 7%;
    }
	
	.m-previous{
	margin-left: 12.5%;
    height: 300px;
	}
	
.m-description1 {
    margin-left: 5%;
	margin-right: 5%;
    padding: 5%;
    font-family: 'Oxygen', sans-serif;
	
}

.m-description2 {
    margin: auto;
    padding: 5%;
    font-family: 'Oxygen', sans-serif;
}

.m-description3 {
    margin: auto;
    padding: 5%;
    font-family: 'Oxygen', sans-serif;
}
	
.m-description1 ul{
	height: 80px;
}

.m-description2 ul{
	height: 80px;
}

.m-description3 ul{
	height: 80px;
}
	
    .mobnavbar {
        display: none;
    }
    .mobnavbar-content {
        display: none;
    }
    .mobnavbar a {
        display: none;
    }
    .mobnavbar a:hover,
    .navbar a:focus {
        display: none;
    }
    .mobnavbar .closebtn {
        display: none;
    }
    .header {
        display: none;
    }
    .span {
        display: none;
    }
    
    .footer {
        margin-top: 100px;
    }
	
.basket {
    top: 20%;
    margin-bottom: 25%;
    width: 40%;
    float: right;
	margin-right: 5%;
}
	
.basket img {
    display:none;
}	

.basket h3 {
    margin-top: 25%;
}

.desktop-idform{
	display:block;
	float:left;
	width:45%;
	margin-left:5%;
	
}

.button-new {
    text-align: r;
    margin-left: 40%;
    background-color: #1BA261;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 10px;
    text-align: center;
}



.desk-footer{
    display:block;
	position: fixed;
    left: 0;
    text-decoration: none;
    bottom: 0;
    width: 100%;
    background-color: #1BA261;
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 5%;
    padding: 10px;
}

.payment-form {
	margin-top: 10%;
}

.saved-card h4{
	margin-top: 5%;
}

.saved-card {
	margin-top: 0px;
}

.manual-card h4{
	margin-top: 5%;
}

.button-card {
	margin-bottom: 0px;
}

.payment-m{
	margin-left:4%;
	margin-bottom: 10%;
}

.contact-open {
    float: right;
    width: 30%;
    margin-right: 5%;
	margin-top: 10px;
}

.contact-info h3 {
    text-align: center;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'lobster';
	margin-bottom:7%;
	margin-top:0px;
}

.contact-info {
    float: left;
    width: 60%;
    top: 0;
    margin-left: 3%;
}

.email p{
	margin-top:3%;
	padding-bottom: 10%;
}

.contact-us {
    margin-bottom: 10%;
}
}
